<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加奖品</title>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/layui/layui.js"></script>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
</head>
<body>
    <div style="width: 570px;padding-top: 20px;">
        <form class="layui-form" id="prizeForm">
            <div class="layui-form-item">
                <label class="layui-form-label">奖品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" autocomplete="off" placeholder="请输入奖品名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">奖品图</label>
                <div class="layui-upload-drag" id="upload">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                </div>
                <img src="" width="150px" height="150px" style="float: right" id="showImg"/>
                <input type="hidden" name="img" id="hideImg"/>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">顺序</label>
                <div class="layui-input-block">
                    <input type="text" name="sort" autocomplete="off" placeholder="请输入顺序" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</body>
<script>
   layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;
       upload.render({
           elem: '#upload'
           ,url: '../admin/upload'
           ,done: function(res){
               if (res.code == 0){
                   layer.alert("上传成功",{icon:6});
                   $("#showImg").attr("src",res.imgName);
                   $("#hideImg").val(res.imgName);
               }else{
                   layer.alert("上传失败",{icon:2})
               }
           }
           ,error: function(index, upload){
               layer.alert("上传失败",{icon:2})
           }
       });
    })

    function save(){
       var name = $("input[name='name']").val();
       var sort = $("input[name='sort']").val();
       var hideImg = $("#hideImg").val();
       if(name == null || name == '' || sort == null || sort == '' || hideImg == null || hideImg == ''){
           layer.alert("请填写完成页面数据在提交哦",{icon:6});
           return false;
       }
       var flag = false;
       $.ajax({
           url:'../admin/savePrize',
           type:'post',
           async:false,
           data:$("#prizeForm").serialize(),
           dataType:"json",
           success:function (data) {
               flag = data;
           }
       })
        return flag;
    }
</script>
</html>